<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('staff_login') }}">Vendor Login</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('product_creation') }}">Create a Product</a></li>
            <li><a href="{{ url_for('product_page') }}">Product Page</a></li>
            <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('my_orders') }}">My Orders</a></li>
            <li><a href="{{ url_for('chats') }}">Chats</a></li>
        </ul>
    </nav>
</body>
<script>

</script>
</html>